{% extends "base.html" %}
{% load static %}
{% block extra_title %}| Manage Reservation{% endblock %}

{% block content%}
{% if messages %}
<div class="messages">
    {% for message in messages %}
    <div class="{{ message.tags }} text-center alert-dark">{{ message }}</div>
    {% endfor %}
</div>
{% endif %}
{% if reservations %}
<section class="d-flex flex-column justify-content-center align-items-center h-100">
    <h1 class="mb-5 font-lora text-center">Your Reservations</h1>
    <ul class="mx-3">
        {% for reservation in reservations %}
        <li class="font-lato">
            Reservation for {{ reservation.number_of_guests }} guests on {{ reservation.reservation_date|date:'d-m-Y' }}
            at
            {{ reservation.reservation_time|date:'H:i' }}.
            <div class="d-flex justify-content-between">
                <div>
                    <a href="{% url 'update_reservation' reservation.id %}" class="font-lato">Edit Reservation</a>
                </div>
                <div>
                    <a href="{% url 'confirm_delete_reservation' reservation.id %}" class="font-lato">Delete
                        Reservation</a>
                </div>
            </div>
            <hr class="alert-light">
        </li>
        {% endfor %}
    </ul>
</section>
{% else %}
<h1 class="mb-5 font-lora text-center">You have no reservations</h1>
{% endif %}
{% endblock %}