{% extends "base.html" %}
{% load static %}
{% block extra_title %}| Reservation{% endblock %}

{% block content%}
{% for message in messages %}
<div class="{{ message.tags }} text-center">{{ message }}</div>
{% endfor %}
<section class="d-flex flex-column justify-content-center align-items-center h-100">
    <h1 class="mb-5 font-lora">Reservation</h1>
    <form class="mx-3" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="button font-lora">Book Now</button>
    </form>
</section>
{% endblock %}