{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="hero-section">
    <h1 class="hero-intro font-lora">Discover a World of Flavors at Azure Bistro - Where Every Meal is a
        <strong>Culinary Adventure</strong>
    </h1>
    <div class="hero-button-container">
        <a href="{% url 'menu' %}" class="button hero-button" title="Menu"
            aria-label="Click here to go to the Menu">Menu</a>
        <a href="#" class="button hero-button" title="Reserve" aria-label="Click here to Reserve tables">Reserve</a>
    </div>
    <div class="hours">
        <p class="font-lato">Mon - Fri: 16:00 - 02:00</p>
        <p class="font-lato">Sat - Sun: 18:00 - 00:00</p>
    </div>
</section>
<main class="main">
    <a href=" {% url 'menu' %}#appetizers" aria-label="Click here to go to the appetizer section of the menu"
        title="appetizer">
        <figure class="content-section ">
            <figcaption class="appetizer font-lato">APPETIZERS</figcaption>
            <img src="https://res.cloudinary.com/julius-cloud/image/upload/w_300,h_200,c_fill,q_auto/v1682058051/appetizer_pygzpl.jpg"
                class="image"
                srcset="https://res.cloudinary.com/julius-cloud/image/upload/w_300,h_200,c_fill,q_auto/v1682058051/appetizer_pygzpl.jpg 300w, https://res.cloudinary.com/julius-cloud/image/upload/w_600,h_400,c_fill,q_auto/v1682058051/appetizer_pygzpl.jpg 600w, https://res.cloudinary.com/julius-cloud/image/upload/w_900,h_600,c_fill,q_auto/v1682058051/appetizer_pygzpl.jpg 900w"
                alt="Image of a appetizer" sizes="(max-width: 768px) 50vw, 100vw">
        </figure>
    </a>
    <a href="{% url 'menu' %}#main-courses" aria-label="Click here to go to the main courses section of the menu"
        title="main courses">
        <figure class="content-section ">
            <img src="https://res.cloudinary.com/julius-cloud/image/upload/w_300,h_200,c_fill,q_auto/v1682058037/main-course_v3ugaw.jpg"
                srcset="https://res.cloudinary.com/julius-cloud/image/upload/w_300,h_200,c_fill,q_auto/v1682058037/main-course_v3ugaw.jpg 300w, https://res.cloudinary.com/julius-cloud/image/upload/w_600,h_400,c_fill,q_auto/v1682058037/main-course_v3ugaw.jpg 600w, https://res.cloudinary.com/julius-cloud/image/upload/w_900,h_600,c_fill,q_auto/v1682058037/main-course_v3ugaw.jpg 900w"
                alt="Image of a signature main course" sizes="(max-width: 768px) 50vw, 100vw">
            <figcaption class="main-course font-lato">MAIN COURSES</figcaption>
        </figure>
    </a>
    <a href="{% url 'menu' %}#desserts" aria-label="Click here to go to the desserts section of the menu"
        title="desserts">
        <figure class="content-section">
            <figcaption class="dessert font-lato">DESSERTS</figcaption>
            <img src="https://res.cloudinary.com/julius-cloud/image/upload/w_300,h_200,c_fill,q_auto/v1682058009/dessert_vvt3g7.jpg"
                srcset="https://res.cloudinary.com/julius-cloud/image/upload/w_300,h_200,c_fill,q_auto/v1682058009/dessert_vvt3g7.jpg 300w, https://res.cloudinary.com/julius-cloud/image/upload/w_600,h_400,c_fill,q_auto/v1682058009/dessert_vvt3g7.jpg 600w, https://res.cloudinary.com/julius-cloud/image/upload/w_900,h_600,c_fill,q_auto/v1682058009/dessert_vvt3g7.jpg 900w"
                alt="Image of a tiramisu dessert" sizes="(max-width: 768px) 50vw, 100vw">
        </figure>
    </a>
    <a href="{% url 'menu' %}#drinks" aria-label="Click here to go to the drinks section of the menu" title="drinks">
        <figure class="content-section">
            <img src="https://res.cloudinary.com/julius-cloud/image/upload/w_300,h_200,c_fill,q_auto/v1682058016/drinks_u5mnay.jpg"
                srcset="https://res.cloudinary.com/julius-cloud/image/upload/w_300,h_200,c_fill,q_auto/v1682058016/drinks_u5mnay.jpg 300w, https://res.cloudinary.com/julius-cloud/image/upload/w_600,h_400,c_fill,q_auto/v1682058016/drinks_u5mnay.jpg 600w, https://res.cloudinary.com/julius-cloud/image/upload/w_900,h_600,c_fill,q_auto/v1682058016/drinks_u5mnay.jpg 900w"
                alt="Image of a colorful cocktail" sizes="(max-width: 768px) 50vw, 100vw">
            <figcaption class="drinks font-lato">DRINKS</figcaption>
        </figure>
    </a>
</main>
{% endblock %}