{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="hero-section">
    <h1 class="logo font-satisfy">Azure Bistro</h1>
    <div class="hero-button-container">
        <a href="{% url 'menu' %}" class="button hero-button">Menu</a>
        <a href="#" class="button hero-button">Reserve</a>
    </div>
    <div class="hours">
        <p class="font-lato">Mon - Fri: 16:00 - 02:00</p>
        <p class="font-lato">Sat - Sun: 18:00 - 00:00</p>
    </div>
</section>
{% endblock %}