{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}

{% block extra_title %}| Menu{% endblock %}

{% block content%}
<div id="menu">
    <section>
        <h2 id="appetizers" class="font-lora">Appetizers Menu</h2>
        <ul class="menu-list font-lato">
            <li>
                <p>Bruschetta</p>
                <p>65 kr</p>
            </li>
            <li>
                <p>Caprese Salad</p>
                <p>80 kr</p>
            </li>
            <li>
                <p>Garlic Bread</p>
                <p>50 kr</p>
            </li>
            <li>
                <p>Stuffed Mushrooms</p>
                <p>75 kr</p>
            </li>
            <li>
                <p>Calamari</p>
                <p>90 kr</p>
            </li>
        </ul>
    </section>

    <section>
        <h2 id="main-courses" class="font-lora">Main Course Menu</h2>
        <ul class="menu-list font-lato">
            <li>
                <p>Grilled Salmon</p>
                <p>185 kr</p>
            </li>
            <li>
                <p>Pasta Primavera</p>
                <p>160 kr</p>
            </li>
            <li>
                <p>Chicken Alfredo</p>
                <p>155 kr</p>
            </li>
            <li>
                <p>Steak Frites</p>
                <p>220 kr</p>
            </li>
            <li>
                <p>Vegetarian Stir Fry</p>
                <p>140 kr</p>
            </li>
        </ul>
    </section>

    <section>
        <h2 id="desserts" class="font-lora">Dessert Menu</h2>
        <ul class="menu-list font-lato">
            <li>
                <p>Tiramisu</p>
                <p>75 kr</p>
            </li>
            <li>
                <p>Chocolate Lava Cake</p>
                <p>85 kr</p>
            </li>
            <li>
                <p>Cheesecake</p>
                <p>80 kr</p>
            </li>
            <li>
                <p>Creme Brulee</p>
                <p>70 kr</p>
            </li>
            <li>
                <p>Apple Pie</p>
                <p>65 kr</p>
            </li>
        </ul>
    </section>

    <section>
        <h2 id="drinks" class="font-lora">Drinks Menu</h2>
        <ul class="menu-list font-lato">
            <li>
                <p>Mojito</p>
                <p>100 kr</p>
            </li>
            <li>
                <p>Pina Colada</p>
                <p>110 kr</p>
            </li>
            <li>
                <p>Margarita</p>
                <p>105 kr</p>
            </li>
            <li>
                <p>Old Fashioned</p>
                <p>120 kr</p>
            </li>
            <li>
                <p>Gin and Tonic</p>
                <p>95 kr</p>
            </li>
        </ul>
    </section>
</div>
{% endblock %}