@import url('https://fonts.googleapis.com/css2?family=Lato&family=Lora&family=Satisfy&display=swap');

/* ----------------------General Styles---------------------------------- */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    font-family: sans-serif;
    text-decoration: none;
    list-style-type: none;
}

body {
    background-color: #111B2C;
    min-width: 320px;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

a:hover {
    color: #FF7F50;
}


/* -----------------------FONTS--------------------------------- */

.font-satisfy {
    font-family: 'Satisfy', cursive;
    color: #007FFF;
}

.logo {
    font-size: xx-large;
}

.font-lora {
    font-family: 'Lora', serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.font-lato {
    font-family: 'Lato';
}