{% extends "base.html" %}
{% load static %}

{% block extra_title %}| Log In{% endblock %}

{% block content %}
<section class="d-flex flex-column justify-content-center align-items-center h-100">
  <h1 class="mb-5 font-lora">Log In</h1>

  <form method="POST" class="mx-3" action="{% url 'account_login' %}">
    {% csrf_token %}
    {{ form.as_p }}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <div class="d-flex flex-column align-items-center">
      <div class="mb-3">
        <a href="{{ signup_url }}" class="font-lato">Create Account</a>
      </div>
      <div>
        <button class="button font-lora" type="submit">Login</button>
      </div>
      <p class="text-center mx-2 font-lato">Please contact us if you have forgotten your password.</p>
    </div>
  </form>
</section>
{% endblock %}