{% extends "base.html" %}
{% block extra_title %}| Sign Up{% endblock %}
{% block content %}

<section class="d-flex flex-column justify-content-center align-items-center h-100">
  <h1 class="mb-5 font-lora">Sign Up</h1>

  <p class="text-center mx-2">
    Already have an account? Then click
    <a href="{{ login_url }}">here</a>
    to sign in.
  </p>

  <form class="signup mx-3" id="signup_form" method="post" action="{% url 'account_signup' %}">
    {% csrf_token %}
    {{ form.as_p }}
    {% if redirect_field_value %}
    {% include "account/snippets/success.html" %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <button type="submit" class="button font-lora">Sign Up</button>
  </form>
</section>
{% endblock %}