{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% block meta%}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block meta_info %}
    <meta name="description"
        content="Welcome to Azure Bistro, the best restaurant in town! Our menu is full of delicious and unique dishes that are sure to delight your taste buds. Join us for a relaxing dining experience in our cozy and stylish restaurant. Reserve your table today!">
    <meta name="keywords"
        content="Azure Bistro, fine dining, Stockholm, gourmet meals, restaurant, culinary experience">
    {% endblock %}
    <meta name="author" content="Azure Bistro">
    {% endblock %}
    <!-- Fontawesome -->
    <script src="https://kit.fontawesome.com/d5722e680c.js" crossorigin="anonymous"></script>
    <!-- Global CSS -->
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    {% block extra_css %}
    {% endblock %}
    <title>Azure Bistro {% block extra_title %}{% endblock %}</title>
</head>

<body>
    <header>
        <nav class="navbar">
            <div>
                <a href="{% url 'home' %}" class="font-satisfy logo">Azure Bistro</a>
            </div>
            <div>
                <ul>
                    <li><a href="{% url 'home' %}" class="font-lora">Home</a></li>
                    <li class="dropdown">
                        <button class="font-lora dropdown-button">Menu</button>
                        <div class="dropdown-content">
                            <a href="{% url 'menu' %}#appetizers" class="font-lora">Appetizers</a>
                            <a href="{% url 'menu' %}#main-courses" class="font-lora">Main Courses</a>
                            <a href="{% url 'menu' %}#desserts" class="font-lora">Desserts</a>
                            <a href="{% url 'menu' %}#drinks" class="font-lora">Drinks</a>
                        </div>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="dropdown" aria-label="Click here to go to the account page" title="Account">
                        <button class="dropdown-button font-lora">Account</button>
                        <div class="dropdown-content">
                            <a href="{% url 'account_logout' %}" class="font-lora">Sign Out</a>
                            <a href="#" class="font-lora">Manage Reservation</a>
                            <a href="{% url 'admin:index' %}"
                                class="font-lora {% if user.is_staff %} {% else %} hide {% endif %}">Admin
                                Panel</a>
                        </div>
                    </li>
                    {% else %}
                    <li><a href="{% url 'account_login' %}" aria-label="Click here to go to the login page"
                            title="Log in" class="font-lora">Log In</a></li>
                    {% endif %}
                    <li><a href="{% url 'contact' %}" class="font-lora">Contact</a></li>
                </ul>
            </div>
        </nav>
    </header>
    {% block content %}
    {% endblock %}
    <footer>
        <address class="footer-middle">
            <p class="font-lato">Arenavägen 69, 121 77 Johanneshov</p>
            <p class="font-lato">Tel: 070-4567187</p>
        </address>
        <section class="footer-right">
            <div class="social-media-container">
                <a href="https://www.facebook.com/" aria-label="Click here to go to our Facebook page" title="Facebook"
                    target="_blank" rel="noopener noreferrer" class="social-media"><i
                        class="fab fa-facebook fa-lg"></i></a>
                <a href="https://www.instagram.com/" aria-label="Click here to go to our Instagram page"
                    title="Instagram" target="_blank" rel="noopener noreferrer" class="social-media"><i
                        class="fab fa-instagram fa-lg"></i></a>
                <a href="https://www.snapchat.com/" aria-label="Click here to go to our Snapchat page" title="Snapchat"
                    target="_blank" rel="noopener noreferrer" class="social-media"><i
                        class="fab fa-snapchat fa-lg"></i></a>
                <a href="https://www.twitter.com/" aria-label="Click here to go to our Twitter page" title="Twitter"
                    target="_blank" rel="noopener noreferrer" class="social-media"><i
                        class="fab fa-twitter fa-lg"></i></a>
            </div>
            <p class="copyright font-lato">&copy; copyright 2023</p>
        </section>
    </footer>
    {% block extra_js %}
    {% endblock %}
</body>

</html>