{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% block meta%}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block meta_info %}
    {% endblock %}
    {% endblock %}
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    {% block extra_css %}
    {% endblock %}
    <title>Azure Bistro {% block extra_title %}{% endblock %}</title>
</head>

<body>
    {% block content %}
    {% endblock %}

    {% block extra_js %}
    {% endblock %}
</body>

</html>